#climescore{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(153, 151, 151);

  }

  #threeimgdiv{
    display: flex;
    padding: 5px;
    gap: 30px;
    margin: auto;
}

#threeimgdiv div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 10px;
    width: 33%;
}

#threeimgdiv ul{
    /* padding: 20px; */
    margin: auto;
    line-height: 30px;
    width: 80%;
   text-align: left;
}

#hospityality{
  /* color: white; */
  border: 1px solid black;
  text-align: left;
  padding: 20px;
  /* background-image: url("https://i.pinimg.com/originals/8f/c1/c5/8fc1c5a1a9454e0c7ab9f9da4bb625c8.gif"); */
  /* background-color: rgb(211, 240, 224); */
}
.hospityalitydiv{
  color: white;
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  background-image: url("https://i.pinimg.com/originals/8f/c1/c5/8fc1c5a1a9454e0c7ab9f9da4bb625c8.gif");
  /* background-color: rgb(211, 240, 224); */
}

#hospityality h2{
  color: white;
}
.logos img{
  width: 12%;
  border-radius: 50%;
  margin-left: 30px;
}
.hdiv21{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.hdiv21 div{
  box-shadow: rgba(3, 3, 3, 0.24) 0px 3px 8px;
  background-color: rgb(239, 241, 239);
  border-radius: 10px;
  padding: 10px;
}

.hdiv21 img{
  width: 100%;
}






  #climescore div{
    background-color: rgb(212, 243, 247);
    width: 100%;
    /* border: 1px solid black; */
  }

  .cproduct, .tproduct{
    padding: 10px;
    display: flex;
    height: 500px;
    border: 1px solid rgb(153, 151, 151);
  }
  .cproduct img{
    width: 60%;
    border-radius: 10px;
  }

  .tproduct img{
    width: 60%;
    border-radius: 10px;
  }

  .tproduct h4, .cproduct h4{
    padding: 5px 20px;
    text-align: left;
  }

  #Newsdiv{
    border: 1px solid grey;
    width: 100%;
    padding: 10px;
    background-color: rgb(226, 223, 228);
  }
  #Newsdiv h1{
    text-align: left;
  }

  #Newsdiv h5{
    margin-top: -16px;
    text-align: left;
    border-left: 1px solid rgb(121, 119, 119);
    line-height: 20px;
    padding: 10px;
  }